* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    border-style: solid;
}

header{
    background-color: black;
    width: 100%;
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header p{
    font-size: 35px;
}

nav{
    background-color: orangered;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
}

nav a:hover{
    text-decoration: underline;
}

main{
    width: 70%;
}

main h2{
    margin-top: 10px;
}

aside{
    width: 30%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
}

aside img{
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Antonio Rodas Pérez: Footer */
footer {
    background-color: black;
    width: 100%;
    padding: 20px;

    /* Antonio Rodas Pérez: Parte de Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .rrss a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

footer p {
    color: white;
    display: flex;
    align-items: center;
}

/* Antonio Rodas Pérez: Width para controlar el tamaño de las imagenes del footer */
.ldm-social-footer {
    width: 20px;
}


@media (max-width:800px) {
    
    header{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

header p{
    padding: 15px;
}

    nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 6px;
        align-self: center;
    }

    nav a{
        margin: 0;
    }

    main{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    main p{
        margin-bottom: 10px;
    }

    aside {
        background-color: orangered;
        color: #fff;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    aside section.secuno {
      width: 50%;
    }

    aside section.secdos {
        width: 50%;
    }

    section img{
        width: 100%;
    }
}


@media (max-width: 600px) {

    aside{
        display: flex;
        flex-direction: column;
    }

    aside section.secuno{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    aside section.secdos{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    aside section img{
        width: 100%;
    }

    footer p{
        order: 1;
    }

    footer.rrss{
        order: 0;
    }
}