* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Antonio Rodas Pérez: Footer */
footer {
    background: #2c3e50;
    width: 100%;
    padding: 20px;

    /* Antonio Rodas Pérez: Parte de Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .rrss a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

footer p {
    color: white;
}