* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: black;
    width: 100%;
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header p{
    font-size: 35px;
}

nav{
    background-color: orangered;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    
}

main{
    width: 70%;
}

aside{
    width: 30%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
}

aside img{
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Antonio Rodas Pérez: Footer */
footer {
    background-color: black;
    width: 100%;
    padding: 20px;

    /* Antonio Rodas Pérez: Parte de Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .rrss a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

footer p {
    color: white;
}

/* Antonio Rodas Pérez: Width para controlar el tamaño de las imagenes del footer */
.ldm-social-footer {
    width: 20px;
}